# --- Base Original ---
streamlit==1.29.0
polars
pandas
plotly
scikit-learn
openpyxl
scipy
duckdb

# --- Volume 01: Engine de Dados ---
pyarrow
vaex

# --- Volume 01: Motor Inteligente ---
ydata-profiling
sweetviz
autoviz

# --- Volume 01: Motor de Visualização & Canvas ---
streamlit-echarts
altair
pygwalker
streamlit-elements==0.1.0
